h1 {
	color:#ffa500; /*orange*/
	font-family: Calibri, Serif;
	}
h2 {color:black;
	}
h3 {
	color:#228b22; /*forestgreen*/
	font-family: Calibri, Serif;
	}
h4 {
	color:#000080; /*navy*/
	font-family: Calibri, Serif;
	}
	
hr	{
	color:#ffa500; /*orange*/
	width:95%;
	height: 5px;
	background:#ffa500;
	}
img {
	width: 250px;
	height: 150px;
	height: 150px;
	}
body {
	color:black;
	font-size: 16;
	background-color:#98Fb98; /*palegreen*/
	}
ol	{
	color:#696969; /*dimgray*/
	font-size:14;
	}
	
ul	{
	color:#696969; /*dimgray*/
	font-size:14;
	}	
#intro {
		font-style: normal;
		font-size: 14;
		font-weight: bold;
		font-family: Calibri, Georgia, serif;
		text-decoration: underline;
		color: #ffa500; /*orange*/
		text-align: justify;
		line-height: 2;
		padding: 40px;
		margin: 20px;
		border: 5px solid green;
		border-radius: 40px 40px 40px 40px;
		box-shadow: 10px 10px 5px 5px rgba(0,0,0,0.75);
		} 